/**
 * coding by Alex 
 */
 
// 引入UI规范
@import "uiStatic"

// public css
*
  margin 0px
  padding 0px

ul,ol,li{
    list-style none
}

html 
    font-size: 12px
    color: $g3

.fl
    float left
.fr
    float right

.clearfix
    &::before,
    &::after
        content ""
        display table
    &::after
        clear both

.content
    margin-top 50px
    margin-left 180px
    padding  20px 
    .content-title
        font-size 18px
        line-height 2.5
        border-bottom 1px solid $e5
        overflow hidden
        span
            float left
            padding-right 20px
            border-bottom 2px solid $blue
    .content-search
        padding-top 16px
        border-bottom 1px solid $e5
    .content-buttons
        padding 10px 0
    .el-tabs__item
        width 132px
        color $g3
        text-align center
        border $e5 solid 1px
        background $f7
        border-top $e5 solid 2px!important
        &.is-active
            color $blue !important
            background $gf
            border-radius 0!important
            border-top $blue solid 2px!important
    .el-form-item
        margin-bottom 16px
    
    .el-table 
        th
            background #e4f3ff
            .cell
                font-size 12px
                font-weight 400
                background #e4f3ff
        td
            .cell
                font-size 12px
    .el-dialog--large
        top 5% !important


@media screen and (max-width:1366px)
    .layout-page
        .content
            margin-top 50px
            margin-left 180px
            padding 15px 

// 弹窗
.asterisk
    position relative
.asterisk:after
    color red
    position absolute
    content "*"
    top 0px
    right -10px

.pub-dialog
    .el-dialog__header
        padding: 15px
        background #00a8ff
        .el-dialog__title
            color #ffffff
            font-weight normal
        .el-dialog__headerbtn
            .el-dialog__close
                color #ffffff
    .el-dialog__footer
        text-align center
    .dialog-footer
        text-align center

.pub-mask-wrap
    .el-input
        width 100%

.must-tips
    color red
    font-weight bold

.el-button+.el-button
    margin 0 

// 响应式
@media screen and (max-width:1366px)
    .layout-page
        .content
            margin-left 180px 
            padding 15px
        .el-menu-item
            min-width 0px



.login-form-base{
    margin-top 24px
    font-size 0;

    .login{
        padding 42px 46px
        background-color #fff
    }
    /* 清除ele-ui 默认样式 */ 
    .el-tabs__header{
        margin 0
        border-bottom 0
    }
    .el-tabs__nav{
        width 100%
        .el-tabs__active-bar{
            background transparent
        }
        .el-tabs__item{
            width 50%
            height 56px
            color #a4a4a4
            font-size 18px
            line-height 56px
            text-align center
            background rgba(0,0,0,0.3);
            &.is-active{
                color #444
                background-color #fff
            }
        }
    }
    .el-form-item{
        margin-bottom 0
        &.is-error{
            margin-bottom 0
        }
        .el-input{
            width 100%
            input{
                padding 12px 20px
                height 100%
                line-height 1
                background-color #fff !important
            }
            input:-webkit-autofill {
                -webkit-box-shadow: 0 0 0px 1000px white inset !important;
            }
        }

        .el-form-item__content{
            &:hover{
                z-index 2;
            }
        }
        &.password{
            .el-form-item__content{
                top -1px
            }
        }
    }
    .login-form-shadow{
        box-shadow 0 0 8px #e1e1e1
    }
    .btn-wrap{
        margin-top 24px
        .btn-login{
            width 100%
            font-size 16px
            color #fff 
            background-color #158cff
            border-radius 2px
            transition all 0.3s
            &:hover{
                transition all 0.3s
                background-color #00c0ff
            }
        }
    }
}