/**
 * coding by Alex of 2017-08-08
 */

@import "uiStatic"

// reset css
*
    margin: 0px
    padding: 0px

ul,
ol,
li
    list-style: none

// common css

.fl
    float: left
.fr
    float: right

.clearfix
    &::before,
    &::after
        content: ""
        display: table
    &::after
        clear: both

.abs
    position: absolute
    top: 0
    left: 0

.rel
    position: relative

.fixed
    position: fixed
    top: 0
    left: 0

.hide
    display: none

.hidden
    visibility: hidden


// public css
.layout-content
    margin: 50px 0 0 150px
    padding: 8px 20px

    .content-title
        height: 40px
        border-bottom: 1px solid $e5
        span
            position: relative
            top: -1px
            float: left
            padding-right: 90px
            line-height: 40px
            border-bottom: 2px solid $default_blue 

    .content-search
        padding: 15px 0
        border-bottom: 1px solid $e5
        .el-form-item
            margin-right: 0
            margin-left: 35px
            margin-bottom: 0
            vertical-align: bottom
            &:last-child,
            &:first-child
                margin-left: 0
        .el-date-editor--date
            width: 105px
            .el-input__inner
                padding-right: 30px
                width: 100%
            .el-input__icon
                width: 30px

        .el-form-item__label
            padding: 0
            font-size: 12px
            line-height: 30px
        .el-form-item__content
            line-height: 30px
            position: relative

    .content-buttons
        padding 15px 0 20px 0
    .tab-title
        .el-tabs__header
            margin-bottom: 0
        .el-tabs__item
            width: 135px
            height: 40px
            padding: 0
            font-size: 12px
            text-align: center
            &.is-active
                color: $g3;
                border-radius: 0
                &::before
                    content: ""
                    position: absolute
                    top: -1px
                    left: 0
                    width: 100%
                    height: 2px
                    background-color: $default_blue
    .table-wrap
        margin-top: 8px
        .el-table__header
            th
                padding: 0
                font-size: 14px
                color: $_g69
                text-align: center
                font-weight: 400
                background-color: $table_header_bgcolor
                >.cell
                    line-height: 20px
                    background-color: $table_header_bgcolor
        .el-table__body
            td
                font-size: 12px
                padding 0 12px
                >.cell
                    padding: 0
    .table-page
        margin-top: 15px
        .el-pagination
            padding: 0
    .default-dialog
        .el-dialog__header
            padding: 20px
            background-color: $dialog_blue
            .el-dialog__title,
            .el-dialog__close
                color: $gf
                font-size: 16px
                line-height: 16px
                font-weight: 400
        .el-form-item
            margin: 0
            margin-bottom: 16px
            .el-form-item__content
                height: 30px
                font-size: 12px
            .el-input__icon 
                width: 30px
            .el-input
                line-height: 30px
            .el-input__inner
                height: 30px
                padding-right: 30px
            .el-date-editor
                width: 105px
        .message
            margin-bottom: 10px
            &.center
                text-align: center
        .table-wrap
            .el-input
                &.is-disabled
                    .el-input__icon
                        &::before,
                        &::after
                            content: ""
                    .el-input__inner
                        background-color: $gf
            .el-input__inner
                padding-right: 0
                border: 0 none
            .el-date-editor
                width: 105px
                .el-input__icon
                    &::before,
                    &::after
                        content: ""
            .cell
                text-overflow: initial
        &.dialog-large
            .el-dialog--large
                width: 1024px
            &.dialog-more
                .el-dialog--large
                    width: 1240px
        &.dialog-small
            .el-dialog--small
                width: 720px
