/**
 * coding by Alex 
 */
 
// 引入UI规范
@import "uiStatic"

// public css
*
  margin 0px
  padding 0px

html 
    font-size: 12px
    color: $g3

.fl
    float left
.fr
    float right

.clearfix
    &::before,
    &::after
        content ""
        display table
    &::after
        clear both

.content
    margin-top 70px
    margin-left 200px
    padding  20px 
    .content-title
        font-size 18px
        line-height 2.5
        border-bottom 1px solid $e5
        overflow hidden
        span
            float left
            padding-right 20px
            border-bottom 2px solid $blue
    .content-search
        padding-top 16px
        border-bottom 1px solid $e5
    .content-buttons
        padding 10px 0
    .el-tabs__item
        width 132px
        color $g3
        text-align center
        border $e5 solid 1px
        background $f7
        border-top $e5 solid 2px!important
        &.is-active
            color $blue !important
            background $gf
            border-radius 0!important
            border-top $blue solid 2px!important
    .el-form-item
        margin-bottom 16px
    
    .el-table 
        th
            background #e4f3ff
            .cell
                font-weight 400
                background #e4f3ff
    .el-dialog--large
        top 5% !important


@media screen and (max-width:1366px)
    .layout-page
        .content
            margin-top 50px
            margin-left 180px
            padding 15px 

// 弹窗
.asterisk
    position relative
.asterisk:after
    color red
    position absolute
    content "*"
    top 0px
    right -10px

.pub-dialog
    .el-dialog__header
        padding: 15px
        background #00a8ff
        .el-dialog__title
            color #ffffff
            font-weight normal
        .el-dialog__headerbtn
            .el-dialog__close
                color #ffffff
    .el-dialog__footer
        text-align center
    .dialog-footer
        text-align center

.pub-mask-wrap
    .el-input
        width 100%

.must-tips
    color: red
    font-weight: bold

.el-button+.el-button
    margin 0 

// 响应式
@media screen and (max-width:1366px)
    .layout-page
        .content
            margin-left 180px 
            padding 15px
        .el-menu-item
            min-width 0px
