/**
 * coding by Alex of 2017-07-24
 */

// default color
$blue = #148aed
$strBlue = #0a7ad7
$dark = #383d41
$black = #333743
$yellow = #f4ce2c
$green = #50a347
$orange = #fa9400
$strOrange = #f78d03
$black-light = #333
$gray = #999
$white = #e5e5e5
$red = #ff4949
$gf = #fff
$g3 = #333
$g69 = #696969
$dc = #dcdcdc
$e5 = #e5e5e5
$f7 = #f7f7f7


$border-default = 1px solid $white

.btn
    display inline-block
    width 105px
    height 30px
    margin 0
    padding 0
    color $gf !important
    line-height 30px
    text-align center
    border-radius 0
    border-width 1px
    border-style solid 
    border-color $dc
    background-color $blue
    white-space nowrap
    cursor pointer
    &:hover
    &.active
        color $gf
        background-color $strBlue

    &.btn-green
        color $gf
        border-color $green
        background-color $green
        &:hover
        &.active
            color $gf
            background-color $green
    &.btn-blue
        border-color $blue
        background-color: $blue
        &:hover
        &.active
            color $gf
            background-color $strBlue
    &.btn-orange
        border-color $orange
        background-color $orange
        &:hover
        &.active
            color $gf
            background-color $strOrange
    &.btn-yellow
        color $gf
        border-color $yellow
        background-color $yellow
        &:hover,
        &.active
            color $gf
            background-color $yellow
    &.btn-red
        color $gf
        border-color $red
        background-color $red
        &:hover
        &.active
            color $gf
            background-color $red
    &.btn-white
        color $gf
        border-color $white
        background-color $white
        &:hover
        &.active
            color $gf
            background-color $white

.pad-line-default
    padding 0 10px

.pad-middle-default
    padding 10px 0

.el-input
    width 105px
    &.el-date-editor
        width 150px
    &.import
        &::after
            content "*"
            position absolute
            top center
            right 2
            color $red
    .el-input__inner
        height 30px
        border-radius 0
